body {
    background-color: #4ABDAC;
    max-width: 100vw;
}

a {
    color: white;
}

#menu {
    background-color: #399486;
    padding-right: 30px;
}
.nav-link{
    text-transform: uppercase;    
    font-family: 'Open Sans'; /*Não está funcionando */
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

#tituloLive {
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;

    font-family: 'Sura';
    font-weight: bold;
    font-size: 70px;
    line-height: 110px;
    
    color: #000000;
}

#infoLive {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 50px 50px 0 0;

    font-family: 'Roboto';
    font-size: 30px;
    line-height: 35px;
    text-align: right;
    
    color: #FFFFFF;
}

#subtitulo {
    color: black;
    margin-left: 75px; 
    font-family: 'Arimo';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 74px;
}

#copy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    color: rgb(250,250,250);
}

#formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#tituloFormulario {
    font-weight: 600;
    color: rgb(250, 250, 250);
    font-size: 15px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

#inputNome, #inputEmail {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
 }

#inputTexto {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    height: 200px;
}

#buttonQuero {
    background-color: #fc4a1a;
    border-color: #80bdff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    width: 602px;
    height: 61px;  
}

#buttonProgramacao {
    background-color: rgba(194, 194, 194, 0.67);
    border-color:  rgba(194, 194, 194, 0.67);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    width: 602px;
    height: 61px;
}

#contagemRegressiva {
    width: 600px;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: rgb(250,250,250);
    font-size: 25px;
    margin-top: 50px;
    background-color: #399486;
    padding: 50px;
    border-radius: 10px;
}

#tituloConvidados {
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 40px;
    background-color: white;
}

#chamadaConvidados {
    font-weight: 700;
    font-size: 35px;
}

#containerConvidados {
    background-color: white;
    padding-top: 20px;
}

#fotoConvidado {
    width: 200px;
    border-radius: 100%;
    display: block;
    margin: auto;
}

#nomeConvidado {
    font-weight: 800;
    color: black;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

#profissaoConvidado {
    color: black;
    font-size: 15px;
    text-align: center;
    }

#bioConvidado {
    color: black;
    font-size: 15px;
    text-align: justify;
    padding: 30px;
}

#tituloParceiros {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#parceiros {
    font-weight: 700;
    font-size: 35px;
}

#emBreve {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
@media (min-width: 789px) and (max-width: 957.98px) {
    
}